html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a,
input,
button,
textarea {
  outline: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  appearance: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #683535;
  background-color: #fff;
}

.wrapper {
  overflow-x: hidden;
}

.container1 {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 50px 0;
}

.title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  position: relative;
}

.text {
  font-size: 18px;
}

.animation {
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s;
}

.animation:focus {
  text-decoration: overline;
}

.animation:hover {
  text-decoration: underline;
}

.animation:active {
  opacity: 0.7;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  border-radius: 100px;
  background-color: #C33C62;
  color: #fff;
  padding: 20px 50px;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
}

.btn:focus,
.btn:hover,
.btn:active,
.btn-m:focus,
.btn-m:hover,
.btn-m:active {
  background-color: #FFFFFF;
  border: 1px solid #c43c62;
  color: #c43c62;
}
#close:hover,
#price-action:hover{
  background-color: #FFFFFF;
    border: 1px solid #c43c62;
    color: #c43c62;
}
.header {
  z-index: 1;
  color: #c43c62;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
}

.header__top {
  position: fixed;
  z-index: 99;
  padding: 20px 0;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top--bg {
  background-color: rgb(237, 199, 215);
  padding: 5px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.menu a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #683535;
  display: block;
}

.logo {
  position: relative;
  margin-right: 100px;
  width: 165px;
  min-width: fit-content;
  z-index: 1;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.logo:focus {
  box-shadow: 0 0 0 3px #805050;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu__button {
  display: none;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.menu__btn {
  display: none;
  height: 4px;
  background-color: #828282;
  width: 30px;
  position: relative;
  margin: 0 auto;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #828282;
  width: 30px;
  left: 0;
  right: 0;
}

.menu__btn::before {
  top: 10px;
}

.menu__btn::after {
  top: -10px;
}

.menu__list {
  column-count: 4;
  column-gap: 2px;
  margin-right: 50px;
  transition: all 1s;
}

.menu__item:nth-child(1),
.menu__item:nth-child(3),
.menu__item:nth-child(5),
.menu__item:nth-child(7) {
  margin-bottom: 20px;
}

.menu__link {
  white-space: nowrap;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 25px;
  max-width: 100px;
}

.social__link {
  display: block;
  margin: 5px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.social__link:focus {
  box-shadow: 0 0 0 2px rgba(247, 130, 130, 0.5);
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

.contacts__info {
  font-style: normal;
}

.footer .contacts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__link {
  padding-left: 34px;
  position: relative;
  border-radius: 3px;
  transition: box-shadow 0.5s, opacity 0.5s, text-decoration 0.5s;
}

.contacts__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contacts__link--mail::before {
  background-image: url(../images/mail.svg);
}

.contacts__link--phone::before {
  background-image: url(../images/phone.svg);
}

.contacts__link--map::before {
  background-image: url(../images/map.svg);
}

.contacts__link--web::before {
  background-image: url(../images/instagram1.svg);
}

.contacts__link:focus {
  box-shadow: 0 0 0 2px rgba(240, 91, 91, 0.5);
}

.contacts__link:hover {
  text-decoration: underline;
}

.contacts__link:active {
  opacity: 0.7;
}

.footer-content__img {
  width: 70px;
}

.top-slider {
  padding-top: 200px;
}

.top-slider::before {
  content: "";
  position: absolute;
  left: 7%;
  top: 32%;
  width: 815px;
  height: 815px;
  transform: rotateX(45deg);
  background-image: url('../images/topslider-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  z-index: -1;
}

.top-slider__item {
  height: 720px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right -13%;
}

.top-slider__link {
  margin-bottom: 200px;
}

.top-slider .slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  font-size: 0;
  border-radius: 50%;
  background-color: #FFCECE;
  margin-right: 10px;
}

.slick-dots .slick-active {
  background-color: #CF5454;
}

.top-slider__title {
  padding-top: 150px;
  width: 510px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: 50px;
  color: #c43c62;
  margin-bottom: 20px;
}

.top-slider__text {
  width: 390px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 60px;
}
 #zatemnenie {
   background: rgba(102, 102, 102, 0.5);
   /* width: 100%;
   height: 100%; */
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
  /* top: 150px;
   left: 0; */
   display: none;
 }

 #okno {
   width: 800px;
   height: 500px;
   text-align: center;
   padding: 15px;
   border: 3px solid #c43c62;
   border-radius: 10px;
   color: #c43c62;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   background: #fff;
   z-index: 100;
   margin-top: 135px;
 }

 #zatemnenie:target {
   display: block;
 }
 #block{
  font-size: 0;
  padding: 0;
  margin: 0;
 }

 .close {
   display: inline-block;
   border: 1px solid #c43c62;
   color: #c43c62;
   padding: 0 12px;
   margin: 10px;
   text-decoration: none;
   background: #f2f2f2;
   font-size: 14pt;
   cursor: pointer;
 }

 .close:hover {
   background: #fff;
 }
 .btn-m{
  color: #fff;
  background-color: #C33C62;
  font-size: 24px;
  padding: 15px 30px;
  width: 500px;
  border-radius: 50px;
  border: 1px solid transparent;
 }
.price {
  overflow: hidden;
}

.price .container {
  position: relative;
  padding-bottom: 121px;
}

.price .sub-title {
  margin-bottom: 20px;
}

.price-text {
  font-size: 20px;
  color: #c43c62;
  margin-bottom: 10px;
}

.price-form {
  max-width: 100%;
  margin: 0 auto;
}

.price-input {
  padding: 15px;
  width: 600px;
  
  background: #FFFFFF;
  border: 1px solid #C33C62;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  outline: none;
  display: block;
  margin: 20px auto;
}

.price-input::placeholder {
  color: #5D5D5F;
}

.price .button {
  width: 100%;
}
















.gallery__filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 35px;
  justify-items: center;
}

.gallery__btn-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  border-radius: 8px;
  background-color: #FEEBEB;
  color: #A23B3B;
  padding-left: 30px;
  width: 360px;
  height: 110px;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s, color 0.5s;
  position: relative;
}

.gallery__btn-link::after,
.gallery__btn-link::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.gallery__btn-link::before {
  width: 133px;
  height: 132px;
  left: 0;
  bottom: -27px;
  background-image: url(../images/gallery/before.png);
}

.gallery__btn-link::after {
  width: 127px;
  height: 120px;
  right: 0;
  bottom: 0;
}

.gallery__btn-link--1::after {
  background-image: url(../images/gallery/1.png);
}

.gallery__btn-link--2::after {
  background-image: url(../images/gallery/2.png);
}

.gallery__btn-link--3::after {
  background-image: url(../images/gallery/3.png);
}

.gallery__btn-link--4::after {
  background-image: url(../images/gallery/4.png);
}

.gallery__btn-link--5::after {
  background-image: url(../images/gallery/5.png);
}

.gallery__btn-link--6::after {
  background-image: url(../images/gallery/6.png);
}

.gallery__btn-link--7::after {
  background-image: url(../images/gallery/7.png);
}

.gallery__btn-link--8::after {
  background-image: url(../images/gallery/8.png);
}

.gallery__btn-link--9::after {
  background-image: url(../images/gallery/9.png);
}

.gallery__btn-link:focus,
.gallery__btn-link:hover,
.gallery__btn-link:active {
  color: #FEEBEB;
  font-size: 28px;
  background-color: #C33C62;
}

/* .gallery__btn-link:hover::after {
  transform: scale(1.4);
} */

.advantages {
  position: relative;
  text-align: center;
}

.advantages::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 425px;
  height: 993px;
  background-image: url(../images/section-bg-1.png);
  z-index: -1;
}

.advantages__inner {
  padding: 50px 0;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.advantages__item {
  max-width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.advantages__subtitle {
  font-weight: 600;
  font-size: 18px;
  padding-top: 220px;
  max-width: 185px;
  margin-bottom: 20px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

.advantages__subtitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 210px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.advantages__subtitle--1::before {
  background-image: url(../images/advantages/1.svg);
}

.advantages__subtitle--2::before {
  background-image: url(../images/advantages/2.svg);
}

.advantages__subtitle--3:before {
  background-image: url(../images/advantages/3.svg);
}

.advantages__subtitle--4::before {
  background-image: url(../images/advantages/4.svg);
}

.advantages__subtitle--5::before {
  background-image: url(../images/advantages/5.svg);
}

.advantages__text {
  display: block;
  max-width: 185px;
}

.partners {
  text-align: center;
}

.arrow {
  background-color: #f0f0f0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27%;
}

.partners-slider__inner .arrow--next {
  transform: rotateY(180deg);
  right: -30px;
}

.reviews-slider__inner .arrow--next {
  transform: rotateY(180deg);
  right: -60px;
}

.arrow--prev {
  left: -66px;
}

.arrow:focus,
.arrow:hover,
.arrow:active {
  background-color: #f0f0f0;
  border: 1px solid #000;
}

.arrow:focus path,
.arrow:hover path,
.arrow:active path {
  stroke: #000;
}

.news {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.news__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__item {
  max-width: 304px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
}

.news__item:focus,
.news__item:hover,
.news__item:active {
  box-shadow: 20px 20px 50px 50px rgba(249, 191, 188, 0.25);
  border: transparent;
}

.news__img {
  border-radius: 10px 10px 0px 0px;
}

.news__inner {
  padding: 20px;
  text-align: start;
}

.news__subtitle {
  border-bottom: 1px solid rgba(107, 53, 53, 0.7);
  padding-bottom: 3px;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 16px;
}

.news__text {
  color: rgba(107, 53, 53, 0.7);
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 75px;
}

.news__date {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.2;
  color: rgba(107, 53, 53, 0.5);
}

.reviews {
  text-align: center;
}

.reviews .slick-dots {
  display: flex;
  justify-content: center;
}

.reviews-slider__item {
  background-color: #FCFCFC;
  border: 1px solid #EAEAEA;
  box-shadow: 0 30px 30px -34px #D1A0A0;
  border-radius: 10px;
  max-width: 390px;
  width: 100%;
  padding: 20px 40px 30px;
  text-align: start;
  margin: 0 10px 40px;
}

.reviews+.slick-active {
  width: 100%;
  max-width: 1200px;
}

.reviews-slider__box {
  padding-left: 50px;
  margin-bottom: 20px;
  position: relative;
      display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65px;
}

.reviews-slider__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 62px;
  height: 62px;
  background-image: url(../images/reviews/photo1.jpg);
  background-repeat: no-repeat;
}

.reviews-slider__box--1::before {
  background-image: url(../images/reviews/photo1.jpg);
}

.reviews-slider__box--2::before {
  background-image: url(../images/reviews/photo2.jpg);
}

.reviews-slider__box--3::before {
  background-image: url(../images/reviews/photo3.jpg);
}

.reviews-slider__name {
  font-size: 18px;
}

.reviews-slider__date {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.2;
  color: #A5A5A5;
  opacity: 0.7;
}

.reviews-slider__text p {
  height: 118px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.reviews-slider__text p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, transparent, #FCFCFC 75%);
}

.reviews-slider__raiting {
  display: flex;
  margin-bottom: 15px;
}

.star {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  padding-right: 5px;
}

.star::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}

.reviews-slider__star--full::before {
  background-image: url(../images/star-full.svg);
}

.reviews-slider__star--empty::before {
  background-image: url(../images/star-empty.svg);
}

.reviews-slider__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews {
  position: relative;
}

.reviews::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(../images/reviews-bg.png);
}

.about__inner {
  max-width: 900px;
  width: 100%;
}

.about__box {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.about__box::before,
.about__box::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__box::before {
  left: 0;
  right: -20%;
  background-image: url(../images/about-bg.png);
  background-position: bottom right;
}

.about__box::after {
  background-image: url(../images/about-bg.svg);
  background-position: bottom left;
  left: -48%;
  right: 0;
}

.about__subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.about h2 {
  display: block;
  text-align: center;
}

.about__text,
.about__item-text {
  font-size: 18px;
}

.about__list {
  list-style: disc;
  margin-bottom: 30px;
}

.about__item {
  margin-left: 30px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

.footer-top {
  background-color: #4a4a4a;
}

.footer-top__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
}

.footer-top__link {
  color: #ddd;
  transition: all 0.5s;
}

.footer-top__link:focus {
  box-shadow: 0 0 0 2px rgba(246, 110, 110, 0.5);
}

.footer-top__link:hover {
  text-decoration: underline;
}

.footer-top__link:active {
  opacity: 0.7;
}

.footer .contacts__info {
  width: 100%;
  max-width: 630px;
}

.footer-content {
  background-color: #2c2c2c;
}

.footer-content__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.contacts__info .footer-content__item:not(:last-child) {
  margin-bottom: 50px;
}

.footer-content__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-content__pays {
  display: flex;
}

.contacts__link::before path {
  stroke: #fff;
  fill: #fff;
}

.footer-content__link {
  color: #ddd;
  transition: all 0.5s;
  position: relative;
}

.footer-content__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-content__link--phone::before {
  background-image: url(../images/phone1.svg);
}

.footer-content__link--mail::before {
  background-image: url(../images/mail1.svg);
}

.footer-content__pays {
  max-width: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-content__pay:not(:last-child) {
  margin-right: 20px;
}

.footer-content__img {
  transition: all 0.5s;
}

.footer .logo {
  margin-right: 150px;
}

.footer-content__img:hover {
  transform: scale(1.5);
}

.footer-content__ref {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #ddd;
  transition: all 0.5s;
}

.footer-content__ref:hover,
.footer-bottom__link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  padding: 15px 0 50px;
  background-color: #2c2c2c;
}

.footer-bottom__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom__item:not(:last-child) {
  margin-right: 115px;
}

.footer-bottom__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #DDDDDD;
  opacity: 0.7;
  transition: all 0.5s;
}

.header .button {
  background-color: #c43c62;
  color: #fff;
  border: none;
  padding: 13px 30px;
  border-radius: 40px;
  margin-bottom: 85px;
}
.modal__inner{
  display: none;
}
.modal__inner--active{
  display: block;
}
#close{
  color: #fff;
  display: inline-block;
  border: 1px solid #c43c62;
  margin: 10px auto;
  text-decoration: none;
  background: #c43c62;
  font-size: 24px;
    cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}

@media (max-width: 1500px) {
  .partners-slider__inner .arrow {
    top: 75px;
  }

  .partners-slider__inner .arrow--next {
    right: 35%;
  }

  .partners-slider__inner .arrow--prev {
    left: 35%;
  }

  .about__box::after {
    left: -22%;
    opacity: 0.3;
  }
}

@media (max-width: 1450px) {
  .reviews-slider__inner .arrow {
    top: -95px;
  }

  .reviews-slider__inner .arrow--next {
    right: 2%;
  }

  .reviews-slider__inner .arrow--prev {
    left: 85%;
  }
}

@media (max-width: 1300px) {
  .gallery__filter {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

@media (max-width: 1230px) {
  body.lock {
    overflow-y: hidden;
  }

  .menu {
    border-bottom: none;
    padding: 10px 0;
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    transform: translateY(-200%);
    transition: transform 0.5s;
    height: 100vh;
    overflow-y: auto;
    padding: 30px 0;
    margin-right: -25px;
    z-index: 0;
  }

  .menu__link {
    display: block;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 11px;
    transition: background-color 0.5s;
  }

  .menu__button,
  .menu__btn {
    display: block;
    order: 1;
  }

  .header__top.header__top--active .menu__list {
    transform: translateY(0);
  }

  .header__top.header__top--active .header-top__language {
    display: block;
    z-index: 99;
    transform: rotateZ(45deg);
    margin-left: auto;
  }

  .header__top.header__top--active .menu__btn {
    background-color: transparent;
  }

  .header__top.header__top--active .menu__btn::before {
    top: 50%;
    left: 16px;
    transform: translate(-50%, 0%) rotate(45deg);
    background-color: #828282;
  }

  .header__top.header__top--active .menu__btn::after {
    transform: translate(50%, 0%) rotate(-45deg);
    top: 50%;
    left: -14px;
    background-color: #828282;
  }

  .logo {
    margin-right: 0;
  }

  .menu__item:nth-child(1),
  .menu__item:nth-child(3),
  .menu__item:nth-child(5),
  .menu__item:nth-child(7) {
    margin-bottom: 0;
  }

  .advantages__item {
    margin: 0 10px;
  }

  .reviews-slider__img {
    width: 30%;
  }

  .footer .logo {
    margin-right: 100px;
  }
}

@media (max-width: 1100px) {
  .top-slider__item {
    background-size: 50%;
  }

  .advantages__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages__item {
    margin: 0 80px;
  }

  .footer .logo {
    margin-right: 50px;
  }

  .footer .contacts__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer .contacts__info {
    max-width: 280px;
  }

  .contacts__info .footer-content__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .footer-bottom {
    padding: 35px 0 50px;
  }
}

@media (max-width: 992px) {
  .news__items {
    flex-direction: column;
  }

  .news__item {
    max-width: 75%;
    border-radius: 25px;
  }

  .news__img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
  }

  .news__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 910px) {
  .top-slider__item {
    background-size: 40%;
    background-position: bottom right 10%;
  }

  .top-slider__title {
    padding-top: 100px;
  }

  .top-slider::before {
    width: 300px;
    height: 600px;
  }

  .about__box::after {
    left: -36%;
  }

  .footer-top {
    display: none;
  }
}

@media (max-width: 850px) {
  #okno{
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    top: -132px;
  }
  .top-slider__item{
    height: 500px;
  }
}

@media (max-width: 800px) {
  .gallery__filter {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .advantages__item {
    margin: 0 50px;
  }

  .about__box::after {
    display: none;
  }
}

@media (max-width: 750px) {
  .reviews-slider__inner .arrow {
    bottom: -11px;
    top: auto;
  }

  .reviews-slider__inner .arrow--next {
    right: 32%;
  }

  .reviews-slider__inner .arrow--prev {
    left: 30%;
  }

  .footer-content__inner {
    flex-direction: column;
    padding-top: 30px;
  }

  .footer .logo {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .footer .contacts__list {
    margin-bottom: 30px;
  }

  .footer-bottom {
    padding: 40px 0;
  }

  .footer-bottom__items {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-bottom__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .price-input{
    width: 97%;
  }
  .btn-m{
    width: 80%;
  }
}

@media (max-width: 660px) {
  .header .contacts__list {
    display: none;
  }

  .logo__img {
    width: 80%;
  }

  .top-slider__title {
    padding-top: 50px;
    width: 100%;
    font-size: 36px;
  }

  .top-slider__link {
    margin-bottom: 100px;
    font-size: 20px;
    padding: 15px 35px;
  }

  .top-slider::before {
    top: 12%;
  }

  .advantages__item {
    margin: 0 25px;
  }
        .top-slider__item {
          height: 400px;
        }
    .top-slider::before{
      display: none;
    }
}

@media (max-width: 500px) {
  .top-slider__item {
    background-size: 30%;
    background-position: bottom right;
  }

  .top-slider__text {
    width: 100%;
  }

  .gallery__btn-link {
    font-size: 16px;
    width: 320px;
  }

  .gallery__btn-link:focus,
  .gallery__btn-link:hover,
  .gallery__btn-link:active {
    font-size: 18px;
  }
}

@media (max-width: 370px) {
  .social {
    display: none;
  }

  .gallery__btn-link::after {
    display: none;
  }

  .gallery__btn-link {
    width: 250px;
  }

  .top-slider::before {
    width: 200px;
    height: 400px;
    top: 25%;
  }
}